		.mytitle {
			color: red;
			text-align: center;
			background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
			background-size: cover;
			background-position: center;
			width: 300px;
			height: 200px;
			border-radius: 10px;
			/* display flex를 쓸 때엔 아래 네 줄이 항상 묶여 다닙니다. */
			display: flex; /*flex 안에 있는 태그들을 어떻게 보여줄 것인가*/
			flex-direction: column;
			align-items: center;
			justify-content: center; /*위아래 기준 column이라서*/
			font-family: 'Nanum Gothic', sans-serif;

		}
		.mytitle h1{
			margin: auto auto auto auto; /*top, left, right, bottom 다 0*/
		}

		.mytitle h5{
			margin-top: auto auto auto auto;
		}
		.wrap {
			width: 300px;
			margin: auto auto auto auto;
		}